body, p, table {
	font-family: Verdana, Geneva, 'DejaVu Sans', sans-serif;
	font-size: 14px;
}

div.droplist {
	margin-top: 10px;
}

div.panel {
	margin-top: 10px;
	padding: 5px;
	border: 2px solid #666;
	background: #eee;
	float: left;
}

div.panel p {
	font-weight: bold;
	margin: 5px 0 5px 0;
	padding: 0;
}

div.panel hr {
	border: 0;
  	height: 1px;
    background: #333;
    margin: 0 0 10px 0;
}

td {
	padding: 3px 0 3px 0;
}